/* *********************************************
[Master Stylesheet]

Template Name: Mona - Model Agency HTML5 Template
Template Author: Colorlib
Template Author URL: http://colorlib.com
Version: 1.0.0
Last Update: Dec 21, 2018

*********************************************

[Tables of CSS Content]

+ body
  - 1.0 Reboot CSS
  - 2.0 Spacing CSS
  - 3.0 Preloader CSS
  - 4.0 Heading CSS
  - 5.0 Backtotop CSS
  - 6.0 Buttons CSS
  - 7.0 Header CSS
  - 8.0 Hero CSS
  - 9.0 Gallery CSS
  - 10.0 Testimonial CSS
  - 11.0 Model CSS
  - 12.0 About CSS
  - 13.0 Breadcrumb CSS
  - 14.0 Blog CSS
  - 15.0 Cta CSS
  - 16.0 Team CSS
  - 17.0 Widget CSS
  - 18.0 Footer CSS
  - 19.0 Contact CSS
  ---------------------------------------------
  [Color Codes]

  $heading: #232323; [Heading Color]
  $text: #666666; [Text Color]
  $bg-gray: #f0f0f0; [Gray Background]
  $primary: #5F021F; [Primary Color]
  $white: #ffffff; [White Color]
  $dark: #000000; [Dark Color]
  $border: #ebebeb; [Border Color]
  $hover: #5F021F; [Hover Color]
  $secondary: #a6a6a6; [Secondary Color]

  ---------------------------------------------
  [Font Family: 'HK Grotesk']
--------------------------------------------- */
/* Import Fonts & All CSS */
@import url(css/default-assets/hkgrotesk-fonts.css);
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/default-assets/classy-nav.css);
@import url(css/owl.carousel.min.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/default-assets/slick.css);
@import url(css/style.css);
/* :: 1.0 Reboot CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "HK Grotesk";
  font-weight: 400;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HK Grotesk";
  color: #232323;
  line-height: 1.4;
  font-weight: 600; }

a,
a:active,
a:focus,
a:hover {
  color: #232323;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none; }

li {
  list-style: none; }

p {
  line-height: 1.9;
  color: #666666;
  font-size: 16px;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); }

.box-shadow {
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2); }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.mfp-iframe-holder .mfp-close {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #5F021F;
  text-align: center;
  right: 0;
  padding-right: 0;
  line-height: 32px; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f0f0f0 !important; }

/* ::2.0 Spacing CSS */
.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-100 {
  margin-top: 100px; }

.mt-150 {
  margin-top: 150px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.pt-50 {
  padding-top: 50px !important; }

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px; }

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0; }

/* :: 3.0 Preloader CSS */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #5F021F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wrapper {
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
  display: block;
  width: 195px; }

.cssload-loader {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: #ffffff; }

.cssload-loader,
.cssload-loader:after,
.cssload-loader:before {
  animation: 1.15s infinite ease-in-out;
  -o-animation: 1.15s infinite ease-in-out;
  -ms-animation: 1.15s infinite ease-in-out;
  -webkit-animation: 1.15s infinite ease-in-out;
  -moz-animation: 1.15s infinite ease-in-out; }

.cssload-loader:after,
.cssload-loader:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; }

.cssload-loader {
  animation-name: cssload-loader;
  -o-animation-name: cssload-loader;
  -ms-animation-name: cssload-loader;
  -webkit-animation-name: cssload-loader;
  -moz-animation-name: cssload-loader; }

@keyframes cssload-loader {
  from {
    transform: scale(0);
    opacity: 1; }
  to {
    transform: scale(1);
    opacity: 0; } }
@-o-keyframes cssload-loader {
  from {
    -o-transform: scale(0);
    opacity: 1; }
  to {
    -o-transform: scale(1);
    opacity: 0; } }
@-ms-keyframes cssload-loader {
  from {
    -ms-transform: scale(0);
    opacity: 1; }
  to {
    -ms-transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes cssload-loader {
  from {
    -webkit-transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(1);
    opacity: 0; } }
@-moz-keyframes cssload-loader {
  from {
    -moz-transform: scale(0);
    opacity: 1; }
  to {
    -moz-transform: scale(1);
    opacity: 0; } }
/* :: 4.0 Heading CSS */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .section-heading h2 {
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 0; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 30px; } }
  .section-heading.white h2 {
    color: #ffffff; }

/* :: 5.0 Backtotop CSS */
#scrollUp {
  bottom: 50px;
  font-size: 22px;
  line-height: 42px;
  right: 0;
  width: 40px;
  background-color: #5F021F;
  color: #ffffff;
  text-align: center;
  height: 40px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 2px 0 0 2px; }
  #scrollUp:focus, #scrollUp:hover {
    background-color: #000000; }

/* :: 6.0 Buttons CSS */
.mona-btn {
  position: relative;
  z-index: 1;
  min-width: 180px;
  height: 50px;
  line-height: 46px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 40px;
  background-color: #5F021F;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border: 2px solid #ffffff; }
  .mona-btn:focus, .mona-btn:hover {
    box-shadow: none;
    background-color: #000000;
    color: #ffffff;
    border-color: #000000; }
  .mona-btn.btn-2 {
    border-color: #5F021F;
    color: #5F021F;
    background-color: #ffffff; }
    .mona-btn.btn-2:focus, .mona-btn.btn-2:hover {
      color: #ffffff;
      background-color: #5F021F; }

/* :: 7.0 Header CSS */
.header-area {
  position: fixed;
  z-index: 600;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .header-area .main-header-area.sticky {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    left: 0;
    z-index: 650;
    border-bottom-color: transparent; }
  .header-area .search-icon {
    position: relative;
    z-index: 1;
    margin-left: 30px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .search-icon {
        margin-left: 15px;
        margin-top: 20px; } }
    @media only screen and (max-width: 767px) {
      .header-area .search-icon {
        margin-left: 15px;
        margin-top: 20px; } }
    .header-area .search-icon i {
      font-size: 20px;
      color: #ffffff;
      cursor: pointer; }

.classy-nav-container {
  background-color: transparent;
  padding: 0; }
  @media only screen and (max-width: 767px) {
    .classy-nav-container {
      padding: 0 15px; } }
  .classy-nav-container .classy-navbar {
    height: 100px;
    padding: 0 3%; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    .classy-nav-container .classy-navbar .bg-curve {
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover; }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar .nav-brand {
        max-width: 90px;
        margin-right: 15px; } }
    .classy-nav-container .classy-navbar .classynav ul li a {
      position: relative;
      z-index: 1;
      font-weight: 500;
      font-size: 18px;
      text-transform: capitalize;
      color: #ffffff; }
      .classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
        color: #ffffff; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px;
          padding: 0 10px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          border-bottom: none;
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          border-bottom: none;
          font-size: 14px; } }
    .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a {
      font-size: 14px;
      text-transform: capitalize; }
    .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: #f6a4ce;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
          width: 100%;
          height: 1px; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
          width: 100%;
          height: 1px; } }

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
  color: #ffffff; }

.breakpoint-off .classynav ul li .dropdown {
  background-color: #5F021F; }

.classynav ul li .dropdown li a {
  border-bottom: none;
  height: 40px; }

.classynav ul li .dropdown li .dropdown li .dropdown li a,
.classynav ul li .dropdown li .dropdown li a {
  border-bottom: none; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classy-navbar-toggler .navbarToggler span {
    background-color: #ffffff; } }
@media only screen and (max-width: 767px) {
  .classy-navbar-toggler .navbarToggler span {
    background-color: #ffffff; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #5F021F;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2); }

  .breakpoint-on .classynav > ul > li > a {
    background-color: #5F021F; }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff; } }
@media only screen and (max-width: 767px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #5F021F;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2); }

  .breakpoint-on .classynav > ul > li > a {
    background-color: #5F021F; }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff; } }
.top-search-area .modal-content {
  border: none; }
  .top-search-area .modal-content .modal-body {
    padding: 50px; }
    @media only screen and (max-width: 767px) {
      .top-search-area .modal-content .modal-body {
        padding: 50px 15px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .top-search-area .modal-content .modal-body {
        padding: 50px; } }
    .top-search-area .modal-content .modal-body button.close-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 10;
      font-size: 14px; }
      .top-search-area .modal-content .modal-body button.close-btn.btn {
        padding: 0;
        background-color: transparent; }
        .top-search-area .modal-content .modal-body button.close-btn.btn:focus, .top-search-area .modal-content .modal-body button.close-btn.btn:hover {
          box-shadow: none;
          color: #5F021F; }
.top-search-area form {
  width: 100%;
  position: relative;
  z-index: 1; }
  .top-search-area form input {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    font-size: 12px;
    font-style: italic;
    padding: 0 20px; }
    .top-search-area form input:focus {
      box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.08); }
  .top-search-area form button {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 10;
    border-radius: 0 6px 6px 0;
    border: none;
    background-color: #5F021F;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .top-search-area form button {
        width: 80px; } }

/* :: 8.0 Hero CSS */
.welcome-slides {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .welcome-slides .owl-next {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    line-height: 100px;
    color: #232323;
    font-size: 30px;
    z-index: 10; }
    .welcome-slides .owl-next:focus, .welcome-slides .owl-next:hover {
      background-color: #5F021F;
      color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-slides .owl-next {
        width: 70px;
        height: 70px;
        line-height: 70px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-slides .owl-next {
        width: 70px;
        height: 70px;
        line-height: 70px; } }
    @media only screen and (max-width: 767px) {
      .welcome-slides .owl-next {
        width: 50px;
        height: 50px;
        line-height: 50px; } }

.single-welcome-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 900px;
  background-color: #ffffff; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slide {
      height: 680px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slide {
      height: 600px; } }
  @media only screen and (max-width: 767px) {
    .single-welcome-slide {
      height: 400px; } }
  .single-welcome-slide .bg-curve {
    position: absolute;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    top: 0;
    right: 0; }
  .single-welcome-slide .main-bg-img {
    position: absolute;
    width: 50%;
    height: calc(100% - 100px);
    bottom: 0;
    right: 15%;
    z-index: 1; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-welcome-slide .main-bg-img {
        height: calc(100% - 70px); } }
    @media only screen and (max-width: 767px) {
      .single-welcome-slide .main-bg-img {
        height: calc(100% - 70px); } }
  .single-welcome-slide .social-info {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 4%; }
    .single-welcome-slide .social-info a {
      display: inline-block;
      margin-left: 30px;
      text-transform: uppercase;
      color: #a6a6a6;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 600; }
      .single-welcome-slide .social-info a:first-child {
        margin-left: 0; }
      @media only screen and (max-width: 767px) {
        .single-welcome-slide .social-info a {
          margin-left: 15px; } }
      .single-welcome-slide .social-info a i {
        display: none; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single-welcome-slide .social-info a i {
            display: block; } }
        @media only screen and (max-width: 767px) {
          .single-welcome-slide .social-info a i {
            display: block; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-welcome-slide .social-info a span {
          display: none; } }
      @media only screen and (max-width: 767px) {
        .single-welcome-slide .social-info a span {
          display: none; } }
      .single-welcome-slide .social-info a:focus, .single-welcome-slide .social-info a:hover {
        color: #5F021F;
        box-shadow: none; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-welcome-slide .social-info a {
          letter-spacing: 1px;
          font-size: 13px;
          margin-left: 15px; } }
  .single-welcome-slide .slide-pager a {
    position: absolute;
    width: 15%;
    height: 100px;
    font-size: 24px;
    color: #ffffff;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #232323;
    font-weight: 600;
    line-height: 100px;
    text-align: center;
    padding: 0 15px;
    overflow: hidden; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-welcome-slide .slide-pager a {
        height: 70px;
        font-size: 18px;
        line-height: 70px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-welcome-slide .slide-pager a {
        height: 70px;
        font-size: 14px;
        line-height: 70px; } }
    @media only screen and (max-width: 767px) {
      .single-welcome-slide .slide-pager a {
        display: none; } }

.welcome-text {
  position: relative;
  z-index: 1;
  margin-top: 100px; }
  .welcome-text h2 {
    font-size: 100px;
    color: #232323;
    display: block;
    margin-left: -9px;
    margin-bottom: 30px;
    line-height: 1.2; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text h2 {
        font-size: 72px;
        margin-left: -4px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text h2 {
        font-size: 72px;
        margin-left: -4px; } }
    @media only screen and (max-width: 767px) {
      .welcome-text h2 {
        font-size: 36px;
        margin-bottom: 15px;
        margin-left: 0; } }
  .welcome-text h5 {
    font-size: 18px;
    color: #a6a6a6;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    @media only screen and (max-width: 767px) {
      .welcome-text h5 {
        margin-bottom: 15px; } }
  .welcome-text a {
    padding: 0;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5F021F;
    font-weight: 600; }
    .welcome-text a:focus, .welcome-text a:hover {
      color: #232323; }

/* :: 9.0 Gallery CSS */
.mona-projects-menu {
  position: relative;
  z-index: 1; }
  .mona-projects-menu .btn {
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a6a6a6;
    margin: 0 30px;
    font-weight: 600; }
    .mona-projects-menu .btn:focus {
      box-shadow: none; }
    .mona-projects-menu .btn.active {
      color: #232323; }

.single-project-area {
  position: relative;
  z-index: 1; }
  .single-project-area img {
    width: 100%;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms; }
  .single-project-area .hover-content {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5F021F;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    opacity: 0;
    visibility: hidden; }
    .single-project-area .hover-content .hover-text h4 {
      color: #ffffff;
      margin-bottom: 25px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-project-area .hover-content .hover-text h4 {
          font-size: 20px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-project-area .hover-content .hover-text h4 {
          font-size: 16px; } }
      @media only screen and (max-width: 767px) {
        .single-project-area .hover-content .hover-text h4 {
          font-size: 14px;
          margin-bottom: 10px; } }
    .single-project-area .hover-content .hover-text h6 {
      color: #ffffff; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-project-area .hover-content .hover-text h6 {
          font-size: 12px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-project-area .hover-content .hover-text h6 {
          font-size: 12px; } }
      @media only screen and (max-width: 767px) {
        .single-project-area .hover-content .hover-text h6 {
          font-size: 12px; } }
      .single-project-area .hover-content .hover-text h6:last-child {
        margin-bottom: 0; }
  .single-project-area:focus img, .single-project-area:hover img {
    -webkit-filter: blur(1px);
    filter: blur(1px); }
  .single-project-area:focus .hover-content, .single-project-area:hover .hover-content {
    opacity: 0.9;
    visibility: visible; }

/* :: 10.0 Testimonial CSS */
.clients-feedback-area {
  position: relative;
  z-index: 1; }
  .clients-feedback-area .client-feedback-text {
    position: relative;
    z-index: 1; }
    .clients-feedback-area .client-feedback-text .quote-icon i {
      display: block;
      font-size: 72px;
      margin-bottom: 20px;
      color: #5F021F;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .clients-feedback-area .client-feedback-text .client-description h4 {
      margin-bottom: 30px; }
      @media only screen and (max-width: 767px) {
        .clients-feedback-area .client-feedback-text .client-description h4 {
          font-size: 20px; } }
    .clients-feedback-area .client-feedback-text .ratings {
      position: relative;
      z-index: 1;
      margin-bottom: 10px; }
      .clients-feedback-area .client-feedback-text .ratings i {
        color: #e99d19;
        font-size: 14px; }
    .clients-feedback-area .client-feedback-text .client-name h5 {
      font-size: 22px;
      margin-bottom: 0; }
    .clients-feedback-area .client-feedback-text .client-name span {
      color: #a6a6a6;
      text-transform: uppercase;
      margin-bottom: 0; }
  .clients-feedback-area .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .clients-feedback-area .slick-dots li button {
      width: 12px;
      height: 12px;
      text-indent: -999999999999999999999999px;
      border: 3px solid #ebebeb;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 5.5px;
      outline: none; }
    .clients-feedback-area .slick-dots li.slick-active button {
      background-color: #5F021F;
      border-color: #5F021F; }
  .clients-feedback-area .slick-slide.client-thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 129px; }
  .clients-feedback-area .slick-slide img {
    display: block;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important; } }
    @media only screen and (max-width: 767px) {
      .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important; } }
  .clients-feedback-area .slick-slide.slick-current:focus {
    box-shadow: none;
    outline: none; }
  .clients-feedback-area .slick-slide.slick-current img {
    width: 100px !important;
    height: 100px !important; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .clients-feedback-area .slick-slide.slick-current img {
        width: 80px !important;
        height: 80px !important; } }
    @media only screen and (max-width: 767px) {
      .clients-feedback-area .slick-slide.slick-current img {
        width: 80px !important;
        height: 80px !important; } }
    .clients-feedback-area .slick-slide.slick-current img:focus {
      box-shadow: none;
      outline: none; }
  .clients-feedback-area .slick-arrow {
    position: absolute;
    width: 30px;
    background-color: #ffffff;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: #b5aec4;
    display: block;
    line-height: 550%;
    left: 0;
    z-index: 90;
    cursor: pointer; }
    .clients-feedback-area .slick-arrow.fa-angle-right {
      left: auto;
      right: 0;
      top: 0; }

/* 11.0 Model CSS */
.model-tab-area {
  position: relative;
  z-index: 1; }
  .model-tab-area .nav-tabs {
    border-bottom: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .model-tab-area .nav-tabs .nav-link {
      border: none;
      border-radius: 0;
      padding: 0 30px;
      font-size: 20px;
      letter-spacing: 2px;
      color: #a6a6a6;
      font-weight: 600;
      text-transform: uppercase; }
      .model-tab-area .nav-tabs .nav-link.active {
        color: #232323; }
      @media only screen and (max-width: 767px) {
        .model-tab-area .nav-tabs .nav-link {
          padding: 0 10px;
          font-size: 14px; } }

.mona-tab-content {
  position: relative;
  z-index: 1;
  padding: 0 3%; }

.single-model-item {
  position: relative;
  z-index: 1; }
  .single-model-item .model-thumbnail {
    position: relative;
    z-index: 1; }
    .single-model-item .model-thumbnail img {
      width: 100%; }
    .single-model-item .model-thumbnail .first-thumbnail {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      position: relative;
      z-index: 1;
      opacity: 1;
      visibility: visible; }
    .single-model-item .model-thumbnail .second-thumbnail {
      -webkit-transition-duration: 800ms;
      -o-transition-duration: 800ms;
      transition-duration: 800ms;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      opacity: 0;
      visibility: hidden; }
    .single-model-item .model-thumbnail .share-info {
      -webkit-transition-duration: 800ms;
      -o-transition-duration: 800ms;
      transition-duration: 800ms;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0; }
      .single-model-item .model-thumbnail .share-info .share-icon a {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: #232323;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        line-height: 50px; }
        .single-model-item .model-thumbnail .share-info .share-icon a i {
          -webkit-transition-duration: 800ms;
          -o-transition-duration: 800ms;
          transition-duration: 800ms; }
        .single-model-item .model-thumbnail .share-info .share-icon a:focus, .single-model-item .model-thumbnail .share-info .share-icon a:hover {
          background-color: #5F021F; }
          .single-model-item .model-thumbnail .share-info .share-icon a:focus i, .single-model-item .model-thumbnail .share-info .share-icon a:hover i {
            -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
      .single-model-item .model-thumbnail .share-info .others-icon {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: calc(100% - 50px);
        height: 50px;
        visibility: hidden;
        opacity: 0; }
        .single-model-item .model-thumbnail .share-info .others-icon a {
          display: inline-block;
          position: absolute;
          text-align: center;
          width: 20%;
          height: 50px;
          top: 0;
          left: 0;
          color: #ffffff;
          line-height: 50px;
          background-color: #232323; }
          .single-model-item .model-thumbnail .share-info .others-icon a:focus, .single-model-item .model-thumbnail .share-info .others-icon a:hover {
            background-color: #5F021F; }
          .single-model-item .model-thumbnail .share-info .others-icon a:nth-child(2) {
            top: 0;
            left: 20%; }
          .single-model-item .model-thumbnail .share-info .others-icon a:nth-child(3) {
            top: 0;
            left: 40%; }
          .single-model-item .model-thumbnail .share-info .others-icon a:nth-child(4) {
            top: 0;
            left: 60%; }
          .single-model-item .model-thumbnail .share-info .others-icon a:nth-child(5) {
            top: 0;
            left: 80%; }
      .single-model-item .model-thumbnail .share-info:focus, .single-model-item .model-thumbnail .share-info:hover {
        width: 100%; }
        .single-model-item .model-thumbnail .share-info:focus .others-icon, .single-model-item .model-thumbnail .share-info:hover .others-icon {
          visibility: visible;
          opacity: 1; }
  .single-model-item .model-info {
    position: relative;
    z-index: 1;
    margin-top: 20px; }
    .single-model-item .model-info h3 {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 5px;
      font-size: 24px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-model-item .model-info h3 {
          font-size: 22px; } }
      @media only screen and (max-width: 767px) {
        .single-model-item .model-info h3 {
          font-size: 22px; } }
    .single-model-item .model-info h6 {
      margin-bottom: 0;
      letter-spacing: 2px;
      color: #a6a6a6;
      font-weight: 600;
      text-transform: uppercase; }
  .single-model-item:focus .model-thumbnail .first-thumbnail, .single-model-item:hover .model-thumbnail .first-thumbnail {
    opacity: 0;
    visibility: hidden; }
  .single-model-item:focus .model-thumbnail .second-thumbnail, .single-model-item:hover .model-thumbnail .second-thumbnail {
    opacity: 1;
    visibility: visible; }
  .single-model-item:focus .model-info h3, .single-model-item:hover .model-info h3 {
    color: #5F021F; }

.mona-actor-slide,
.mona-all-model-slide,
.mona-models-slide,
.mona-singer-slide {
  position: relative;
  z-index: 1; }
  .mona-actor-slide .owl-next,
  .mona-actor-slide .owl-prev,
  .mona-all-model-slide .owl-next,
  .mona-all-model-slide .owl-prev,
  .mona-models-slide .owl-next,
  .mona-models-slide .owl-prev,
  .mona-singer-slide .owl-next,
  .mona-singer-slide .owl-prev {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: -25px; }
    .mona-actor-slide .owl-next.owl-next,
    .mona-actor-slide .owl-prev.owl-next,
    .mona-all-model-slide .owl-next.owl-next,
    .mona-all-model-slide .owl-prev.owl-next,
    .mona-models-slide .owl-next.owl-next,
    .mona-models-slide .owl-prev.owl-next,
    .mona-singer-slide .owl-next.owl-next,
    .mona-singer-slide .owl-prev.owl-next {
      left: auto;
      right: -25px; }
    .mona-actor-slide .owl-next:focus, .mona-actor-slide .owl-next:hover,
    .mona-actor-slide .owl-prev:focus,
    .mona-actor-slide .owl-prev:hover,
    .mona-all-model-slide .owl-next:focus,
    .mona-all-model-slide .owl-next:hover,
    .mona-all-model-slide .owl-prev:focus,
    .mona-all-model-slide .owl-prev:hover,
    .mona-models-slide .owl-next:focus,
    .mona-models-slide .owl-next:hover,
    .mona-models-slide .owl-prev:focus,
    .mona-models-slide .owl-prev:hover,
    .mona-singer-slide .owl-next:focus,
    .mona-singer-slide .owl-next:hover,
    .mona-singer-slide .owl-prev:focus,
    .mona-singer-slide .owl-prev:hover {
      background-color: #5F021F; }

@media only screen and (min-width: 1200px) {
  .mona-model-area.model-page .mona-tab-content .col-xl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    min-width: 20%;
    width: 20%; } }

/* :: 12.0 About CSS */
.about-us-thumbnail {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%; }
  .about-us-thumbnail img {
    width: 100%;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms; }
  .about-us-thumbnail .line {
    width: 100px;
    height: 15px;
    background-color: #5F021F;
    position: absolute;
    z-index: 10;
    top: -15px;
    right: -15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    .about-us-thumbnail .line::after {
      content: '';
      height: 100px;
      width: 15px;
      background-color: #5F021F;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10; }
  .about-us-thumbnail .line2 {
    width: 100px;
    height: 15px;
    background-color: #5F021F;
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: -15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    .about-us-thumbnail .line2::after {
      content: '';
      height: 100px;
      width: 15px;
      background-color: #5F021F;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10; }
  .about-us-thumbnail:focus .line, .about-us-thumbnail:hover .line {
    opacity: 1;
    visibility: visible;
    top: 0;
    right: 0; }
  .about-us-thumbnail:focus .line2, .about-us-thumbnail:hover .line2 {
    opacity: 1;
    visibility: visible;
    bottom: 0;
    left: 0; }

.about-us-content {
  position: relative;
  z-index: 1;
  padding-left: 10%; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-us-content {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-us-content {
      padding-left: 0; } }
  @media only screen and (max-width: 767px) {
    .about-us-content {
      padding-left: 0; } }
  .about-us-content h2 {
    font-size: 48px;
    margin-bottom: 15px;
    line-height: 1.3; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-us-content h2 {
        font-size: 28px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-us-content h2 {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .about-us-content h2 {
        font-size: 30px; } }
  .about-us-content p {
    margin-bottom: 30px; }
    .about-us-content p:last-child {
      margin-bottom: 0; }

.service-area {
  position: relative;
  z-index: 1;
  border-top: 1px solid #ebebeb;
  text-align: center;
  padding-top: 50px; }
  .service-area i {
    font-size: 42px;
    margin-bottom: 30px;
    color: #5F021F;
    display: block; }
  .service-area h5 {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 22px;
    margin-bottom: 10px; }
  .service-area p {
    font-size: 16px;
    margin-bottom: 0; }
  .service-area:focus h5, .service-area:hover h5 {
    color: #5F021F; }

.single-benefits-area {
  position: relative;
  z-index: 1; }
  .single-benefits-area .benefits-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px; }
    .single-benefits-area .benefits-icon i {
      color: #5F021F;
      font-size: 42px; }
  .single-benefits-area .benefits-content h5 {
    font-size: 22px; }
  .single-benefits-area .benefits-content p {
    margin-bottom: 0; }

.mona-video-area {
  position: relative;
  z-index: 1; }
  .mona-video-area .video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 99;
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #5F021F;
    color: #ffffff;
    line-height: 50px; }
    .mona-video-area .video-play-btn:focus, .mona-video-area .video-play-btn:hover {
      box-shadow: none;
      background-color: #232323; }

/* :: 13.0 Breadcrumb CSS */
.breadcumb-area {
  position: relative;
  z-index: 1;
  height: 270px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcumb-area {
      height: 220px; } }
  @media only screen and (max-width: 767px) {
    .breadcumb-area {
      height: 180px; } }
  .breadcumb-area .title {
    font-size: 60px;
    margin-bottom: 0;
    text-transform: capitalize; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .breadcumb-area .title {
        font-size: 48px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .breadcumb-area .title {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .title {
        font-size: 30px; } }
  .breadcumb-area .breadcumb--con .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0; }
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item,
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a,
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
      font-size: 18px;
      text-transform: capitalize;
      color: #232323;
      font-weight: 500;
      letter-spacing: normal; }
      @media only screen and (max-width: 767px) {
        .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item,
        .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a,
        .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
          font-size: 14px; } }
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item:focus, .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item:hover,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a:focus,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item > a:hover,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:focus,
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
        color: #5F021F; }
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active {
      color: #a6a6a6; }
      .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:focus, .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
        color: #a6a6a6; }
    .breadcumb-area .breadcumb--con .breadcrumb .page-item:first-child .page-link {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .breadcumb-area .breadcumb--con .breadcrumb .page-item:last-child .page-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .breadcumb-area .breadcumb--con .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: "\f105";
      font-family: 'FontAwesome'; }

/* :: 14.0 Blog CSS */
.single-blog-post {
  position: relative;
  z-index: 1; }
  .single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1; }
    .single-blog-post .post-thumbnail a {
      display: block; }
      .single-blog-post .post-thumbnail a img {
        width: 100%;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms; }
  .single-blog-post .post-content {
    position: relative;
    z-index: 1;
    margin-top: 25px; }
    .single-blog-post .post-content .post-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
      display: block;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      .single-blog-post .post-content .post-title:focus, .single-blog-post .post-content .post-title:hover {
        color: #a6a6a6; }
      @media only screen and (max-width: 767px) {
        .single-blog-post .post-content .post-title {
          font-size: 20px; } }
    .single-blog-post .post-content .post-date {
      font-size: 14px;
      text-transform: uppercase;
      color: #a6a6a6;
      letter-spacing: 1px;
      display: block;
      margin-bottom: 0;
      font-weight: 600; }
  .single-blog-post:focus .post-content .post-title, .single-blog-post:hover .post-content .post-title {
    color: #5F021F; }
  .single-blog-post:focus .post-thumbnail a img, .single-blog-post:hover .post-thumbnail a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .single-blog-post.featured-post {
    position: relative;
    z-index: 1; }
    .single-blog-post.featured-post .post-content {
      margin-top: 0;
      position: absolute;
      width: 270px;
      height: 100%;
      background-color: #5F021F;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      padding: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .single-blog-post.featured-post .post-content .post-date,
      .single-blog-post.featured-post .post-content .post-title {
        color: #ffffff; }
      @media only screen and (max-width: 767px) {
        .single-blog-post.featured-post .post-content {
          width: 210px;
          padding: 15px; } }

.blog-details-content {
  position: relative;
  z-index: 1; }
  .blog-details-content .post-content .post-date {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a6a6a6;
    display: block;
    margin-bottom: 15px;
    font-weight: 600; }
  .blog-details-content .post-content h2 {
    color: #232323;
    font-size: 36px;
    display: block;
    margin-bottom: 15px; }
    @media only screen and (max-width: 767px) {
      .blog-details-content .post-content h2 {
        font-size: 24px; } }
  .blog-details-content .post-content .post-meta a {
    font-size: 16px;
    color: #a6a6a6;
    display: inline-block;
    margin-right: 15px; }
    .blog-details-content .post-content .post-meta a:last-child {
      margin-right: 0; }
    .blog-details-content .post-content .post-meta a:focus, .blog-details-content .post-content .post-meta a:hover {
      color: #5F021F; }
  .blog-details-content h1,
  .blog-details-content h2,
  .blog-details-content h3,
  .blog-details-content h4,
  .blog-details-content h5,
  .blog-details-content h6 {
    margin-bottom: 15px; }
  .blog-details-content p {
    font-size: 16px;
    color: #232323; }

.mona-pagination {
  position: relative;
  z-index: 1; }
  .mona-pagination .pagination .page-item .page-link {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 0;
    line-height: 38px;
    margin: 0 5px;
    text-align: center;
    background-color: transparent;
    color: #666666;
    font-size: 16px; }
    .mona-pagination .pagination .page-item .page-link:focus, .mona-pagination .pagination .page-item .page-link:hover {
      background-color: #5F021F;
      border-color: #5F021F;
      color: #ffffff; }
  .mona-pagination .pagination .page-item.active .page-link {
    background-color: #5F021F;
    border-color: #5F021F;
    color: #ffffff; }

.comment_area {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px; }
  .comment_area .title {
    margin-bottom: 30px;
    font-size: 30px; }
    @media only screen and (max-width: 767px) {
      .comment_area .title {
        font-size: 20px; } }
  .comment_area .comment-content {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
    .comment_area .comment-content .comment-author {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      width: 70px;
      max-width: 70px;
      margin-right: 20px;
      border-radius: 50%; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-author {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50px;
          flex: 0 0 50px;
          width: 50px;
          max-width: 50px;
          margin-right: 10px; } }
      .comment_area .comment-content .comment-author img {
        border-radius: 50%; }
    .comment_area .comment-content .comment-meta .post-date {
      color: #a6a6a6;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
      font-weight: 600; }
    .comment_area .comment-content .comment-meta h5 {
      margin-bottom: 5px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta h5 {
          font-size: 16px; } }
    .comment_area .comment-content .comment-meta p {
      color: #232323;
      font-size: 16px;
      font-weight: 500; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta p {
          font-size: 14px; } }
    .comment_area .comment-content .comment-meta a.like,
    .comment_area .comment-content .comment-meta a.reply {
      display: inline-block;
      padding: 5px 15px 3px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid #ebebeb;
      text-transform: uppercase; }
      .comment_area .comment-content .comment-meta a.like:focus, .comment_area .comment-content .comment-meta a.like:hover,
      .comment_area .comment-content .comment-meta a.reply:focus,
      .comment_area .comment-content .comment-meta a.reply:hover {
        border-color: #5F021F;
        background-color: #5F021F;
        color: #ffffff; }
  .comment_area .children {
    margin-left: 50px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children {
        margin-left: 20px; } }
    .comment_area .children .single_comment_area:last-of-type {
      margin-bottom: 0; }

.mona-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px; }
  .mona-blockquote .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px; }
    @media only screen and (max-width: 767px) {
      .mona-blockquote .icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
        flex: 0 0 50px;
        max-width: 50px;
        width: 50px; } }
    .mona-blockquote .icon i {
      font-size: 60px;
      color: #5F021F; }
      @media only screen and (max-width: 767px) {
        .mona-blockquote .icon i {
          font-size: 30px; } }
  .mona-blockquote .text h5 {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 15px;
    color: #232323;
    line-height: 1.6;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .mona-blockquote .text h5 {
        font-size: 16px; } }
  .mona-blockquote .text h6 {
    color: #a6a6a6;
    font-size: 16px; }

.mona-post-share {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .mona-post-share h6 {
      font-size: 10px;
      margin-right: 10px !important; } }
  .mona-post-share .social-info- a {
    display: inline-block;
    color: #232323;
    font-size: 16px;
    margin-right: 15px; }
    .mona-post-share .social-info- a:last-child {
      margin-right: 0; }
    .mona-post-share .social-info- a:focus, .mona-post-share .social-info- a:hover {
      color: #5F021F; }
    @media only screen and (max-width: 767px) {
      .mona-post-share .social-info- a {
        font-size: 12px;
        margin-right: 5px; } }

.post-catagories {
  position: relative;
  z-index: 1;
  margin: 50px 0; }
  .post-catagories ul li a {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #232323;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 3px; }
    .post-catagories ul li a:focus, .post-catagories ul li a:hover {
      background-color: #5F021F;
      color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .post-catagories ul li a {
        font-size: 10px;
        padding: 5px 10px; } }

.related-news-area {
  position: relative;
  z-index: 1;
  padding-top: 50px;
  border-top: 1px solid #ebebeb;
  margin-bottom: 20px; }

/* :: 15.0 CTA CSS */
.mona-cta-area {
  position: relative;
  z-index: 1;
  background-color: #5F021F; }

.cta-content {
  position: relative;
  z-index: 1;
  text-align: center; }
  .cta-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .cta-content h2 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .cta-content h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .cta-content h2 {
        font-size: 30px; } }
  .cta-content h6 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px; }

/* :: 16.0 Team CSS */
.single-team-member-area {
  position: relative;
  z-index: 1; }
  .single-team-member-area .team-member-thumbnail {
    position: relative;
    z-index: 1; }
    .single-team-member-area .team-member-thumbnail img {
      width: 100%; }
    .single-team-member-area .team-member-thumbnail .share-info {
      -webkit-transition-duration: 800ms;
      -o-transition-duration: 800ms;
      transition-duration: 800ms;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0; }
      .single-team-member-area .team-member-thumbnail .share-info .share-icon a {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: #232323;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        line-height: 50px; }
        .single-team-member-area .team-member-thumbnail .share-info .share-icon a i {
          -webkit-transition-duration: 800ms;
          -o-transition-duration: 800ms;
          transition-duration: 800ms; }
        .single-team-member-area .team-member-thumbnail .share-info .share-icon a:focus, .single-team-member-area .team-member-thumbnail .share-info .share-icon a:hover {
          background-color: #5F021F; }
          .single-team-member-area .team-member-thumbnail .share-info .share-icon a:focus i, .single-team-member-area .team-member-thumbnail .share-info .share-icon a:hover i {
            -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
      .single-team-member-area .team-member-thumbnail .share-info .others-icon {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: calc(100% - 50px);
        height: 50px;
        visibility: hidden;
        opacity: 0; }
        .single-team-member-area .team-member-thumbnail .share-info .others-icon a {
          display: inline-block;
          position: absolute;
          text-align: center;
          width: 20%;
          height: 50px;
          top: 0;
          left: 0;
          color: #ffffff;
          line-height: 50px;
          background-color: #232323; }
          .single-team-member-area .team-member-thumbnail .share-info .others-icon a:focus, .single-team-member-area .team-member-thumbnail .share-info .others-icon a:hover {
            background-color: #5F021F; }
          .single-team-member-area .team-member-thumbnail .share-info .others-icon a:nth-child(2) {
            top: 0;
            left: 20%; }
          .single-team-member-area .team-member-thumbnail .share-info .others-icon a:nth-child(3) {
            top: 0;
            left: 40%; }
          .single-team-member-area .team-member-thumbnail .share-info .others-icon a:nth-child(4) {
            top: 0;
            left: 60%; }
          .single-team-member-area .team-member-thumbnail .share-info .others-icon a:nth-child(5) {
            top: 0;
            left: 80%; }
      .single-team-member-area .team-member-thumbnail .share-info:focus, .single-team-member-area .team-member-thumbnail .share-info:hover {
        width: 100%; }
        .single-team-member-area .team-member-thumbnail .share-info:focus .others-icon, .single-team-member-area .team-member-thumbnail .share-info:hover .others-icon {
          visibility: visible;
          opacity: 1; }
  .single-team-member-area .team-member-info {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    text-align: center; }
    .single-team-member-area .team-member-info h4 {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 5px; }
    .single-team-member-area .team-member-info h6 {
      margin-bottom: 0;
      letter-spacing: 2px;
      color: #a6a6a6;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase; }
  .single-team-member-area:focus .team-member-info h4, .single-team-member-area:hover .team-member-info h4 {
    color: #5F021F; }

/* :: 17.0 Widget CSS */
.search-widget-area form {
  position: relative;
  z-index: 1; }
  .search-widget-area form input {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    height: 45px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 0; }
    .search-widget-area form input:focus {
      box-shadow: none;
      border: 1px solid #5F021F; }
  .search-widget-area form button {
    width: 50px;
    height: 45px;
    background-color: #5F021F;
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
    line-height: 45px; }

.single-widget-area {
  position: relative;
  z-index: 1; }
  .single-widget-area .widget-title {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: capitalize; }
    @media only screen and (max-width: 767px) {
      .single-widget-area .widget-title {
        font-size: 24px; } }

.catagories-list {
  position: relative;
  z-index: 1; }
  .catagories-list li a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: #232323;
    font-weight: bold; }
    @media only screen and (max-width: 767px) {
      .catagories-list li a {
        font-size: 16px; } }
    .catagories-list li a i {
      margin-right: 10px; }
    .catagories-list li a:focus, .catagories-list li a:hover {
      color: #5F021F; }
  .catagories-list li:first-child a {
    padding-top: 0; }
  .catagories-list li:last-child a {
    padding-bottom: 0; }

.single-news-area {
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  .single-news-area:last-child {
    margin-bottom: 0; }
  .single-news-area .blog-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 82px;
    flex: 0 0 82px;
    max-width: 82px;
    width: 82px; }
  .single-news-area .blog-content {
    margin-left: 20px; }
    .single-news-area .blog-content .post-title {
      font-size: 18px;
      color: #232323;
      display: block;
      margin-bottom: 10px;
      font-weight: bold; }
      @media only screen and (max-width: 767px) {
        .single-news-area .blog-content .post-title {
          font-size: 16px; } }
      .single-news-area .blog-content .post-title:focus, .single-news-area .blog-content .post-title:hover {
        color: #5F021F; }
    .single-news-area .blog-content .post-date {
      color: #a6a6a6;
      display: block;
      margin-bottom: 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px; }

.tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .tags-list li a {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #232323;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 3px; }
    .tags-list li a:focus, .tags-list li a:hover {
      background-color: #5F021F;
      color: #ffffff; }

/* :: 18.0 Footer CSS */
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #f2f4f5; }

.single-footer-widget {
  position: relative;
  z-index: 1; }
  .single-footer-widget .widget-title {
    color: #232323;
    margin-bottom: 20px;
    display: block;
    font-weight: 600; }
  .single-footer-widget p {
    color: #666666;
    font-size: 16px;
    line-height: 1.8; }
  .single-footer-widget .footer-social-info a {
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
    background-color: #5F021F;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px; }
    .single-footer-widget .footer-social-info a.facebook {
      background-color: #4c60ac; }
    .single-footer-widget .footer-social-info a.twitter {
      background-color: #00bae3; }
    .single-footer-widget .footer-social-info a.pinterest {
      background-color: #d91a18; }
    .single-footer-widget .footer-social-info a.instagram {
      background-color: #0085d7; }
    .single-footer-widget .footer-social-info a.youtube {
      background-color: #e20000; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-footer-widget .footer-social-info a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px; } }
  .single-footer-widget .our-link {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .single-footer-widget .our-link li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%; }
      .single-footer-widget .our-link li a {
        font-size: 14px;
        color: #666666;
        margin-bottom: 17px;
        display: block;
        font-weight: 500; }
        .single-footer-widget .our-link li a:focus, .single-footer-widget .our-link li a:hover {
          color: #232323; }
      .single-footer-widget .our-link li:last-child a {
        margin-bottom: 0; }
  .single-footer-widget .footer-content {
    position: relative;
    z-index: 1; }
    .single-footer-widget .footer-content h4 {
      color: #a6a6a6;
      margin-bottom: 10px; }
    .single-footer-widget .footer-content h6 {
      color: #a6a6a6;
      margin-bottom: 0; }

.copywrite-text {
  position: relative;
  z-index: 1;
  margin-top: 20px; }
  .copywrite-text p {
    font-size: 16px;
    color: #a6a6a6;
    margin-bottom: 0; }
    .copywrite-text p a {
      color: #a6a6a6; }
      .copywrite-text p a:focus, .copywrite-text p a:hover {
        color: #5F021F; }

/* :: 19.0 Contact Area */
.mona-contact-area {
  position: relative;
  z-index: 1; }
  .mona-contact-area .google-maps {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 650px; }
    @media only screen and (max-width: 767px) {
      .mona-contact-area .google-maps {
        height: 280px; } }
    .mona-contact-area .google-maps iframe {
      width: 100%;
      height: 100%;
      border: none; }

.single-contact-card {
  position: relative;
  z-index: 1;
  text-align: center; }
  .single-contact-card h2 {
    font-size: 36px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .single-contact-card h2 {
        font-size: 24px; } }
  .single-contact-card h6 {
    font-size: 18px;
    margin-bottom: 0;
    color: #333;
    line-height: 1.5;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .single-contact-card h6 {
        font-size: 14px; } }

.casting-form-thumbnail img {
  width: 100%; }

.mona-contact-form {
  position: relative;
  z-index: 1; }
  .mona-contact-form .contact-heading {
    margin-bottom: 20px; }
    .mona-contact-form .contact-heading h2 {
      display: block;
      margin-bottom: 15px;
      font-size: 48px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .mona-contact-form .contact-heading h2 {
          font-size: 30px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .mona-contact-form .contact-heading h2 {
          font-size: 36px; } }
      @media only screen and (max-width: 767px) {
        .mona-contact-form .contact-heading h2 {
          font-size: 24px; } }
    .mona-contact-form .contact-heading p {
      margin-bottom: 0;
      font-size: 16px; }
      @media only screen and (max-width: 767px) {
        .mona-contact-form .contact-heading p {
          font-size: 14px; } }
  .mona-contact-form label {
    font-size: 16px;
    color: #a6a6a6;
    display: block;
    margin-bottom: 15px; }
  .mona-contact-form .form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 0; }
    .mona-contact-form .form-control:focus {
      box-shadow: none;
      border-color: #5F021F; }
  .mona-contact-form textarea.form-control {
    height: 110px;
    padding: 20px; }

/*# sourceMappingURL=style.css.map */

#overlay{
  position:absolute; /*You may also use fixed depending on your needs.*/
  left:0;
  top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
  z-index: 999;
  }